<div class="toolbar">
  <button (click)="layoutService.addItem()">Add Item</button>
  <div
    class="draggable"
    draggable="true"
    (dragend)="layoutService.dropItem('example1')"
  >
    Example 1
  </div>
  <div
    class="draggable"
    draggable="true"
    (dragend)="layoutService.dropItem('example2')"
  >
    Example 2
  </div>
  <div
    class="draggable"
    draggable="true"
    (dragend)="layoutService.dropItem('chart')"
  >
    Chart line
  </div>
</div>
<gridster [options]="options">
  <gridster-item
    *ngFor="let item of layout"
    [item]="item"
    (dragover)="layoutService.setDropId(item.id)"
  >
    {{ item | json }}
    <ng-template
      appLayoutItem
      [componentRef]="layoutService.getComponentRef(item.id)"
    >
    </ng-template>
    <button (click)="layoutService.deleteItem(item.id)">
      Delete Item
    </button>
  </gridster-item>
</gridster>
{{ layoutService.components | json }}
